.container--timer {
    margin-top: 2rem;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}

.container--timer label {
    font-size: 24px;
    margin-top: 1rem;
}

.container--timer input {
    padding: 10px;
    font-size: 24px;
    text-align: center;
    border: none;
    color: rgb(75, 124, 224);
    font-weight: bolder;
    background-color: transparent;
}

.container--timer-clock {
    font-size: 170px;
    margin-bottom: 1rem;
}